#videoElement {
 width: 640px;
 height: 480px;
 /*display: none;*/
 background-color: #666;
 border: 1px solid black;

}
#canvasElement {
 width: 640px;
 height: 480px;
 display: none;
 border: 1px solid black;
}

#photo {
 width: 640px;
 height: 480px;
 border: 1px solid black;
}
